# fly.toml app configuration file generated for shinapi on 2026-01-15T07:31:41Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'shinapi'
primary_region = 'arn'

[build]

[http_service]
  internal_port = 8317
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[checks]
  [checks.health]
    port = 8317
    type = "http"
    interval = "30s"
    timeout = "5s"
    grace_period = "10s"
    method = "GET"
    path = "/health"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
